---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Home | Photo Edit Site">
  <h1>Home</h1>
  <p>Select a tool from the sidebar to get started.</p>
  <p>A set of image editing tool all on one site.</p>
  <h1>very wip</h1>
</BaseLayout>
